{% extends "base.html" %}

{% block title %}Project{% endblock title %}
{%block projectact %}active{% endblock projectact %}
{% block body %}
<h1 class="text-center my-3 py-3">Projects till date</h1>
<div class="container mb-5">
  <h3>Django Todo List</h3>
  <p>My Django Todo List project is a user-friendly web application that allows you to efficiently manage your tasks.
    With
    this application, you can easily add, edit, and delete tasks according to your needs. The rather simple user
    interface
    ensures a seamless experience, enabling you to effortlessly organize your to-do items. Whether you want to create
    new
    tasks, modify existing ones, or remove completed tasks, this project provides a convenient and straightforward
    solution
    for your task management needs.</p>
  <a class="btn btn-outline-primary btn-lg" href="https://github.com/anurag8423/Django-Todo-List"
    target="main_"><b>Github Repository</b></a>
  <hr>
  <h3>Django Blog Website</h3>
  <p>Discover a dynamic Django Blog website , offering a diverse range of captivating blogs for your reading
    pleasure. Immerse yourself in insightful content, and contribute your own unique perspectives by easily adding blogs
    through a rather simple interface. Join the community by contacting us through the site and unleash your creativity
    today.
  </p>
  <a class="btn btn-outline-primary btn-lg" href="https://github.com/anurag8423/Django-Blog-Website"
    target="main1_"><b>Github
      Repository</b></a>
  <hr>
  <h3>React js Textutils Web application</h3>
  <p>Welcome to TextUtils, a powerful React.js web application designed to enhance your text editing experience. Count
    characters and words, calculate reading time, and effortlessly remove extra spaces, all in one place. Simplify your
    writing tasks with this versatile tool and unlock a world of text manipulation possibilities.
  </p>
  <a class="btn btn-outline-primary btn-lg" href="https://github.com/anurag8423/Textutils" target="main2_"><b>Github
      Repository</b></a>
  <hr>
  <h3>React js News Reading Web application </h3>
  <p>Stay informed with our React.js website, delivering daily news with a simple and user-friendly interface. Access the
  latest headlines and dive into articles effortlessly, ensuring an enjoyable and seamless news reading experience.
  </p>
  <a class="btn btn-outline-primary btn-lg" href="https://github.com/anurag8423/NewsMonger" target="main3_"><b>Github
      Repository</b></a>
  <hr>
  <h3>A basic Django based Portfolio website </h3>
  <p>Discover a simple and elegant portfolio website created with Django. Showcasing my skills, and projects
  in a clean and intuitive layout. With a focus on simplicity, this secondary portfolio allows you to get a breif idea of my work experience and proficiency.
  </p>
  <a class="btn btn-outline-primary btn-lg" href="https://github.com/anurag8423/Basic-Django-Portfolio" target="main3_"><b>Github
      Repository</b></a>
  <hr>
</div>
{% endblock body %}